.parent-todo {
  border: 1px solid black;
  text-align: center;
  background-color: hsl(120, 1%, 61%);
  padding: 50px 0;
  min-height: 900px;
}

.parent-todo h1{
    text-align: center;
    font-size:2.1rem;
    color:white;
    margin-bottom:20px;
}